.shop {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 20px auto;
}
.cart-container {
    padding: 10px;
    margin: 20px 0;
}
